langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
sentence_transformers
langchain_huggingface
streamlit
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
langchain_groq
